html {
    box-sizing: border-box;
    margin: 0;
    color: #ccc;
}


body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.cis260special {
    color: #800dbe
}
.quote { color:firebrick}
.skates {color:darkorchid}
.tutz {color:darkorange}
.anything

header { display: flex;
flex-direction: column}

@media screen and (max-width:40rem){

    header{flex direction: column;}

}

a:hover {
    color: #aaa;
}

